<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container py-5">
    <h1 class="display-5 fw-bold">Home Page</h1>
    <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fringilla enim in sem tristique
      congue vitae id turpis. Donec a tortor nec lacus vulputate dapibus vel a velit. Quisque ultricies mattis ex, quis
      condimentum nulla porttitor vel. </p>

    <button class="btn btn-secondary btn-lg">Button</button>
  </div>

</div>